*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol,li{
    list-style: none;
}
body{
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
    font-size: 16px;
    background-image: url(../img/back_img.jpg);
    height: 100%;
    width:100%;
    top:0;
    left:0;
    background-size: cover;
    background-repeat:repeat-y;
    background-attachment: fixed;
}
.inner{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
/******************************** 기본세팅 *******************************/

/********** section01 **********/
section{
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    overflow: hidden;
}
section~section{
    top:100%;
}
#sec01{
    color: #fff;
}
#sec01 .main_img{
    margin-top: 80px;
    position: relative;
}
#sec01 .email{
    position: relative;
    top: -680px;
    right: -1000px;
}
/********** 메일 회전 이벤트 효과 **********/
#sec01 .email img {
    animation: rotate_image 10s linear infinite;
    transform-origin: 50% 50%;
}
@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}
/*****************************************/
#sec01 .bubble{
    position: relative;
    top: -680px;
    right: -470px;
    width: 270px;
}
#sec01 #main_wrap{
    width: 100%;
    position: relative;
    top: -900px;
}
#sec01 #about{
    display: flex;
    justify-content: space-between;
}
#main_text{
    margin: 0 auto;
    display: block;
    padding-bottom: 20px;
}
#main_page{
    width: 1000px;
    margin: 0 auto;
}
#main_page h2{
    font-weight: 500;
    font-size: 1.2rem;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
}
#main_page span{
    display: inline-block;
    width: 600px;
    height: 0;
    border-bottom: 0.5px solid #fff;
    padding-top: 20px;
}
#main_page p{
    font-weight: 100;
}
#about{
    width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
}
#about h3{
    font-weight: 500;
    padding-bottom: 20px;
}
#about p{
    font-size: 0.8rem;
    width: 333px;
}
#about #certificate{
    margin-left: 30px;
}
/********** section01 끝 **********/

/********** section02 **********/
#sec02 .sec02_main_bg{
    margin-top: 40px;
}
#sec02 #web_text{
    position: relative;
    top: -810px;
    left: 200px;
}
.wrap_slide{
    width: 1200px;
    height: 500px;
    position: relative;
    top: -800px;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper .text_wrap{
    width: 300px;
    float: left;
    margin-left: 80px;
    padding-top: 130px;
}
.swiper .text_wrap h2{
    font-weight: 500;
    font-size: 1.3rem;
    padding-bottom: 20px;
}
.swiper .text_wrap p{
    padding-bottom: 20px;
}
.swiper .text_wrap a{
    text-align: center;
    padding-top: 2px;
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background-color: #fff;
}
.swiper .text_wrap:hover a{
    color: #555;
}
.swiper .img_wrap{
    width: 500px;
    float: right;
    margin-right: 80px;
}
.swiper-slide {
  clear: both;
}
.swiper-slide img {
  display: block;

  width: 100%;
  height: 500px;
  object-fit: cover;
}
.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  display: inline-block;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 58px;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
