*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol,li{
    list-style: none;
}
body{
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
    font-size: 16px;
    background-image: url(../img/back_img.jpg);
    height: 100%;
    width:100%;
    top:0;
    left:0;
    background-size: cover;
    background-repeat:repeat-y;
    background-attachment: fixed;
}
.inner{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

/******************************** 기본세팅 *******************************/

/********** section01 **********/
section{
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    overflow: hidden;
}
section~section{
    top:100%;
}
#sec01{
    color: #fff;
    padding-top: 80px;
}
#sec01 .inner{
    height: 811px;
    width: 1197px;
    background-image: url(../img/main_page.png);
    background-repeat: no-repeat;
    background-position: center;
    /* 커서변경 */
    /* cursor: url(../img/); */
}
#sec01 .center_con{
   width: 100%;
   height: 500px;
   margin-top: 100px;
} 
#sec01 .email{
    position: relative;
    top: 120px;
    right: -1000px;
}
/********** 메일 회전 이벤트 효과 **********/
#sec01 .email img {
    animation: rotate_image 10s linear infinite;
    transform-origin: 50% 50%;
}
@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}
/*****************************************/
#sec01 .bubble img{
    display: block;
    margin: 0 auto;
}
#sec01 #main_wrap{
    position: relative;
    top: -200px;
}
#sec01 #about{
    display: flex;
    justify-content: space-between;
}
#main_text{
    margin: 0 auto;
    display: block;
    padding-bottom: 20px;
}
#main_page{
    width: 1000px;
    margin: 0 auto;
}
#main_page h2{
    font-weight: 500;
    font-size: 1.2rem;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
}
#main_page span{
    display: inline-block;
    width: 600px;
    height: 0;
    border-bottom: 0.5px solid #fff;
    padding-top: 20px;
}
#main_page p{
    font-weight: 100;
}
#about{
    width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
}
#about h3{
    font-weight: 500;
    padding-bottom: 20px;
}
#about p{
    font-size: 0.8rem;
    width: 333px;
}
#about #certificate{
    margin-left: 30px;
}
/********** section01 끝 **********/

/********** section02 **********/
#sec02{
    margin-top: 80px;
}
#sec02 .inner{
    height: 811px;
    width: 1198px;
    background-image: url(../img/photo_booth.png);
    background-repeat: no-repeat;
    background-position: center;
}

#sec02 #web_text{
    display: block;
    text-align: center;
    position: relative;
    top: 90px;
}
.wrap_slide{
    width: 1197px;
    height: 500px;
    top: -790px;
    margin-top: 25px;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper .text_wrap{
    width: 300px;
    float: left;
    margin-left: 80px;
    padding-top: 130px;
    color: #fff;
}
.swiper .text_wrap h2{
    font-weight: 500;
    font-size: 1.3rem;
    padding-bottom: 20px;
}
.swiper .text_wrap p{
    padding-bottom: 20px;
}
.swiper .text_wrap a{
    text-align: center;
    padding-top: 2px;
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background-color: #fff;
    color: #555;
}
.swiper .text_wrap:hover a{
    color: #000;
}
.swiper .img_wrap{
    width: 500px;
    float: right;
    margin-right: 80px;
}
.swiper-slide {
  clear: both;
}
.swiper-slide img {
    display: block;
    margin: 0 auto;
}
.img_wrap img{
    display: block;
    padding-bottom: 50px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
#Screen{
    height: 100px;
    width: 292px;
    cursor: pointer;
}
.mySwiper2 {
  height: 80%;
  width: 1000px;
  /* display: flex;
  justify-content: space-between;
  display: inline-block; */
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 58px;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
/********** section02 끝 **********/


/********** section03 **********/

#sec03{
    margin-top: 80px;
}
#sec03 .inner{
    height: 811px;
    width: 1198px;
    background-image: url(../img/design1.png);
    background-repeat: no-repeat;
    background-position: center;
}
.panel1_swiper{
    width: 940px;
    height: 740px;
    align-items: center;
    overflow: hidden;
}
#sec03 .bookmark{
  padding-top: 50px;
}
/*********** #panel1 ***********/
  #panel1{
    width: 940px;
  }
  #panel1 .swiper-slide {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    position: relative;
  }
  #panel1 .swiper-slide img {
    display: block;
    width: 392px;
    height: 590px;
    object-fit: cover;
  }
  #panel1 .swiper-slide .mar{
    margin-right: 20px;
  }
  #panel1 #design_sli{
    display: flex;
    justify-content: center;
  }
  #panel1 .swiper-slide p{
    opacity: 0;
    width: 392px;
    position: absolute;
    top: 50%;
    text-align: center;
    color: #fff;
    text-shadow: 0px 3px 5px  #000;
    font-weight: 500;
    font-size: 1.2rem;
    z-index: 99;
  }
  #panel1 .swiper-slide a:hover p{
    opacity: 1; 
    transition: 0.5s;
  }
  #panel1 .blur{
    position: absolute;
    top: 70px;
    display: block;
    width: 392px;
    height: 590px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    transition: 0.5s;
    opacity: 0;
  }
  #panel1 .swiper-slide a:hover .blur{
    opacity: 1; 
    transition: 0.5s;
  }
/*********** #panel1 끝 ***********/


.tabs{
    width: 258px;
    height: 804px;
    padding-top: 60px;
}
.tab_set {
    padding-top: 60px;
    display: flex;
}

.tab_set ul li {
    display: inline-block;
    width: 100%;
    height: 30px;
}
.tab_set ul li img{
    display: block;
}
.tab_set ul li a {
    padding: 5px 30px;
    display: block;
}

.tab_set ul li a.on {
    background-color: #d7edff;
}

.panels{
    width: 938px;
    height: 745px;
}
.panels > div {
    width: 100%;
    height: 740px;
}
#panel1, #panel2, #panel3, #panel4, #panel5{
    display: none;
}



/********** #panel2 **********/

#panel2 .swiper-slide {
    padding-top: 100px;
}
.panel2_swiper{
    width: 940px;
    height: 740px;
    align-items: center;
    overflow: hidden;
}
#panel2 .swiper-slide img {
    display: block;
    object-fit: cover;
}
#panel2 .slide_top{
  position: relative;
  width: 768px; 
  height: 253px;
  margin: 0 auto;
}
#panel2 .slide_bot{
  position: relative;
  width: 768px;
  height: 253px;
  margin: 0 auto;
}
#panel2 .swiper-slide p{
  opacity: 0;
  width: 768px;
  position: absolute;
  top: 40%;
  text-align: center;
  color: #fff;
  text-shadow: 0px 3px 5px  #000;
  font-weight: 500;
  font-size: 1.2rem;
  z-index: 99;
}
#panel2 .slide_bot:hover .blur,#panel2 .slide_top .blur{
  position: absolute;
  top: 0px;
  display: block;
  width: 768px;
  height: 253px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  transition: 0.5s;
  opacity: 0;
}
#panel2 .swiper-slide a:hover .blur{
    opacity: 1; 
    transition: 0.5s;
}
#panel2 .swiper-slide a:hover p{
  opacity: 1; 
  transition: 0.5s;
}
#panel2 .slide2_top{
  position: relative;
  width: 600px; 
  height: 253px;
  margin: 0 auto;
}
#panel2 .slide2_bot{
  position: relative;
  width: 600px;
  height: 253px;
  margin: 0 auto;
}
#panel2 .slide2_top p, #panel2 .slide2_bot p{
  opacity: 0;
  width: 600px;
  position: absolute;
  top: 40%;
  text-align: center;
  color: #fff;
  text-shadow: 0px 3px 5px  #000;
  font-weight: 500;
  font-size: 1.2rem;
  z-index: 99;
}
#panel2 .slide2_bot:hover .blur,#panel2 .slide2_top .blur{
  position: absolute;
  top: 0px;
  display: block;
  width: 600px;
  height: 253px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  transition: 0.5s;
  opacity: 0;
}

/********** #panel2 끝**********/

/********** #panel3 **********/
#panel3 .swiper-slide {
    padding-top: 70px;
  }
.panel3_swiper{
    width: 940px;
    height: 740px;
    align-items: center;
    overflow: hidden;
}
#panel3 .swiper-slide>img {
    display: block;
    width: 392px;
    height: 590px;
    object-fit: cover;
  }
#panel3 .swiper-slide .mar{
    margin-right: 20px;
  }
#panel3 #design_sli{
    display: flex;
    justify-content: center;
  }
.web_work_text{
    width: 392px;
    height: 590px;
    color: #fff;
}
.web_work_text h2{
    /* font-size: 3rem; */
    text-align: center;
    background-image: url(../img/page_s.png);
    background-repeat: no-repeat;
    width: 392px;
    height:201px;
    margin-bottom: 20px;
    padding-top: 55px;
}
.web_work_text h3{
    width: 392px;
    height: 371px;
    background-image: url(../img/page_m.png);
    background-repeat: no-repeat;
    padding: 100px;
}
#panel3 .swiper-slide span{
  font-size: 1rem;
  width: 80%;
  display: block;
  margin: 0 auto;
}
#panel3 .swiper-slide p{
  opacity: 0;
  width: 392px;
  position: absolute;
  top: 45%;
  text-align: center;
  color: #fff;
  text-shadow: 0px 3px 5px  #000;
  font-weight: 500;
  font-size: 1.2rem;
  z-index: 99;
}
#panel3 .swiper-slide a:hover p{
  opacity: 1; 
  transition: 0.5s;
}
#panel3 .blur{
  position: absolute;
  top: 70px;
  display: block;
  width: 392px;
  height: 590px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  transition: 0.5s;
  opacity: 0;
}
#panel3 .swiper-slide a:hover .blur{
  opacity: 1; 
  transition: 0.5s;
}
/********** #panel3끝 **********/

/********** #panel4 **********/
.panel4_swiper{
    width: 940px;
    height: 740px;
    align-items: center;
    overflow: hidden;
}
#panel4 .swiper-slide {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    position: relative;
  }
#panel4 .swiper-slide .mar{
    margin-right: 20px;
  }
#panel4 #design_sli{
    display: flex;
    justify-content: center;
  }
  .design_sli_ri{
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
    justify-content: space-between;
  }
  #panel4 .swiper-slide p{
    opacity: 0;
    width: 335px;
    position: absolute;
    top: 50%;
    text-align: center;
    color: #fff;
    text-shadow: 0px 3px 5px  #000;
    font-weight: 500;
    font-size: 1.2rem;
    z-index: 99;
  }
  #panel4 .swiper-slide a:hover p{
    opacity: 1; 
    transition: 0.5s;
  }
  #panel4 .blur_1{
    position: absolute;
    top: 70px;
    display: block;
    width: 335px;
    height: 590px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    transition: 0.5s;
    opacity: 0;
  }
  #panel4 .swiper-slide a:hover .blur_1{
    opacity: 1; 
    transition: 0.5s;
  }
  #panel4 .blur_2{
    position: absolute;
    top: 70px;
    display: block;
    width: 394px;
    height: 280px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    transition: 0.5s;
    opacity: 0;
  }
  #panel4 .swiper-slide a:hover .blur_2{
    opacity: 1; 
    transition: 0.5s;
  }
  #panel4 .design_sli_ri p{
    opacity: 0;
    width: 394px;
    position: absolute;
    top: 25%;
    text-align: center;
    color: #fff;
    text-shadow: 0px 3px 5px  #000;
    font-weight: 500;
    font-size: 1.2rem;
    z-index: 99;
  }
  #panel4 .blur_3{
    position: absolute;
    top: 0;
    display: block;
    width: 394px;
    height: 280px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    transition: 0.5s;
    opacity: 0;
  }
  #panel4 .swiper-slide a:hover .blur_3{
    opacity: 1; 
    transition: 0.5s;
  }
  .blur__{
    position: relative;
  }
  #panel4 .blur__ .ri_2{
    opacity: 0;
    width: 394px;
    position: absolute;
    top: 45%;
    text-align: center;
    color: #fff;
    text-shadow: 0px 3px 5px  #000;
    font-weight: 500;
    font-size: 1.2rem;
    z-index: 99;
  }
  #panel4 .blur__ a:hover .ri_2{
    opacity: 1; 
    transition: 0.5s;
  }
/********** #panel4끝 **********/

#panel5 .swiper-slide {
  padding-top: 70px;
}
.panel5_swiper{
  width: 940px;
  height: 740px;
  align-items: center;
  overflow: hidden;
}
#panel5 .swiper-slide>img {
  display: block;
  width: 392px;
  height: 590px;
  object-fit: cover;
}
#panel5 .swiper-slide .mar{
  margin-right: 20px;
}
#panel5 #design_sli{
  display: flex;
  justify-content: center;
}
#panel5 .swiper-slide p{
  opacity: 0;
  width: 392px;
  position: absolute;
  top: 50%;
  text-align: center;
  color: #fff;
  text-shadow: 0px 3px 5px  #000;
  font-weight: 500;
  font-size: 1.2rem;
  z-index: 99;
}
#panel5 .swiper-slide a:hover p{
  opacity: 1; 
  transition: 0.5s;
}
#panel5 .blur{
  position: absolute;
  top: 70px;
  display: block;
  width: 392px;
  height: 590px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  transition: 0.5s;
  opacity: 0;
}
#panel5 .swiper-slide a:hover .blur{
  opacity: 1; 
  transition: 0.5s;
}
/********** section03 끝 **********/

/********** section04 **********/

.thx_page{
    margin-top: 120px;
    background-image: url(../img/page.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.thx img{
    width: 1000px;
    height: 750px;
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}